body {
	background-color: #1A1A1D;
	font-family: "Roboto", sans-serif;
}

h1 {
	text-align: center;
	color: #6F2232;
	margin: 0px;
}

label {
	padding: 18px;
	color: #1A1A1D;
	font-size: 24px;
}

button, input[type=submit], input[type=button] {
	padding: 18px;
	text-align: center;
	color: #6F2232;
	background-color: #1A1A1D;
	border-radius: 5px;
	border: 2px #6F2232 solid;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	display: block;
	cursor: pointer;
	font-size: 18px;
	transition: 0.2s ease 0.1s;
}

button:hover, input[type=submit]:hover, input[type=button]:hover {
	background-color: #4E4E50;
}

button[selected|="true"] {
	background-color: #4E4E50;
	transition: 0.2s ease 0.1s;
}

input[type=text], input[type=email], input[type=number] {

	color: #6F2232;
	background-color: #1A1A1D;
	font-size: 24px;
	border: 2px #6F2232 solid;
	border-radius: 5px;
	padding: 12px;
	margin: 8px;
}

input:invalid {
	background-color: #C3073F;
}

select {
	font-size: 24px;
	background-color: #1A1A1D;
	color: #6F2232;
	padding: 6px;
}

.orderInput {
	padding: 18px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.section {
	background-color: #4E4E50;
	border-radius: 10px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
 	border: 2px #6F2232 solid;
 	text-align: center;
 	padding: 12px;
}

.title {
	padding: 18px;
	text-align: center;
	color: #6F2232;
	background-color: #1A1A1D;
	border-radius: 5px;
	border: 2px #6F2232 solid;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.accordion {
	background-color: #1A1A1D;
	color: #6F2232;
	cursor: pointer;
	padding: 18px;
	width: 40%;
	text-align: center;
	font-size: 24px;
	border: none;
	outline: none;  
	transition: max-height 0.2s ease-out;
	display: block;
	margin: auto;
	margin-bottom: 12px;
	margin-top: 12px;
	border-radius: 5px;
	border: 2px #6F2232 solid;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
	background-color: #1A1A1D;
	color: #6F2232;
	cursor: pointer;
	padding: 18px;
	width: 40%;
	text-align: center;
	font-size: 24px;
	outline: none;  
	transition: max-height 0.2s ease-out;
	display: none;
	margin: auto;
	margin-bottom: 12px;
	border-radius: 5px;
	border: 2px #6F2232 solid;
	
}

.seatType {
	display: inline-block;
	margin: 5px;
}

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #C3073F;
}

#Header {
	background-color: #4E4E50;
	width: 50%;
	height: 5%;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border: 2px #6F2232 solid;
 	left: 25%;
 	top: 0%;
}

#OutputError {
	color: #6F2232;
	display: none;
	font-size: 36px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7%;
}

#PersonalForm {
	color: #6F2232;
}

#PersonalForm label {
	display: block;
	padding: 12px;
	font-size: 24px;
}

#RegForm {
  margin: 80px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

#Finished {
	display: none;
}

@media only screen and (max-width: 600px) {

	#Header {
		height: fit-content;
	}

	#RegForm {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	#OutputError {
		margin-top: 12%;
	}

}

@media only screen and (max-width: 450px) {
	body {
		font-size: 14px;
	}

	#RegForm {
		width: 80%;
	}

	input, select {
		width: 60%;
		font-size: 14px;
		margin: 10px;
	}

	#OutputError {
		margin-top:  20%;
	}


}